<div class="container">
  <h1 class="text-center">New In Phones </h1>
  <div class="d-flex align-items-center gap-7">
    <app-content-products>
      <h4 class="title">New in iphone</h4>
      <button class="btn btn-danger m-2">View More in Iphone</button>
    </app-content-products>
    <app-content-products>
      <h4 class="title">New in Samsung</h4>
      <button class="btn btn-danger m-2">View More in Samsung</button>
    </app-content-products>
    <app-content-products>
      <h4 class="title">New in OnePlus</h4>
      <button class="btn btn-danger m-2">View More on OnePlus</button>
    </app-content-products>
    <app-content-products>
      <h4 class="title">New in Mi</h4>
      <button class="btn btn-danger m-2">View More on Mi</button>
    </app-content-products>
  </div>
</div>
