<div class="d-flex align-items-center justify-content-center flex-column">
  <div
    class="d-flex align-items-center justify-content-between card mt-5 w-50 mx-auto p-3"
  >
    <div class="d-flex align-items-center">
      <input type="text" class="form-control w-100" #input />
      <button class="btn btn-warning mx-4" (click)="onsubmit(input)">
        Send
      </button>
    </div>
  </div>

  <div class="m-3" >
    <app-lifehooksdemo [enteredText]="inputText" *ngIf="componentToBeDestroyed" >
      <h4>This is the projected content: {{ inputText }}</h4>
    </app-lifehooksdemo>
  </div>

  <button (click)="DestroyComponent()">Destroy</button>
</div>
