<div class="wrapper">
  <div class="app-nav"></div>
  <div class="container py-3">
    <app-header></app-header>
    <app-notification></app-notification>
    <app-products></app-products>
    <app-customer-lists #customers></app-customer-lists>
    <p *ngIf="customers.selectedCustomer.name">You selected {{customers.selectedCustomer.name}}</p>
    <app-view-child></app-view-child>
    <app-ngcontent></app-ngcontent>
    <app-lifecycle-hooks></app-lifecycle-hooks>
    <app-content-child></app-content-child>
    <app-custom-attribute></app-custom-attribute>
    <app-conditionaldirective></app-conditionaldirective>
    <div class="d-flex align-items-center justify-conten-center w-50 mx-auto">
      <app-angula-component></app-angula-component>
      <app-javascript-component></app-javascript-component>

    </div>
  </div>
</div>
